@import url('https://fonts.googleapis.com/css2?family=Asap&family=Nunito&family=Yellowtail&display=swap');

body {
    font-family: Nunito, sans-serif;
    color: #1c1c1c;
}

h1, h2, h3 {
    font-family: Asap, sans-serif;
    color: #000000;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191970;
}

#sobrenome {
    color: rgb(136, 72, 20);
}

nav > a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    font-size: 32px;
    font-family: Yellowtail, serif;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;

}

nav ul li {
    text-align: center;
    width: 100%;

}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #ffffff;

}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/header2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 20px;

}

header h1 {
    color: #ffffff;

}

header p {
    margin-bottom: 2em;

}

header a {
    color: #191970;
    text-decoration: none;


}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #191970;
    color: #ffffff;

}

#sobre h2 {
    margin-bottom: 2.5em;
    max-width: 1000px;
    color: #ffffff;

}

.botao {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #191970;
    font-size: .9em;
    border-radius: 3px;
}

.botao:hover {
    background-color: #06064d;
}

#sobre .botao {
    background-color: #f1f1f1;
    color: #1c1c1c;
    transition: 0.2s;

}

#sobre .botao:hover {
    background-color: rgb(34, 32, 32);
    color: white;
}

#servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

}

#servicos img {
    width: 190px;
    height: 190px;
}

#servicos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;

}

#fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

}

#fotos h2 {
    margin-bottom: 20px;

}

#fotos img {
    width: 100%;
}

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    

}

#contato h2 {
    color: #000000;
}

#contato img {
    width: 60px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #191970;
    color: #ffffff;
}

footer a {
    text-decoration: none;
    color: #a4e796;
}

footer p {
    margin-top: 50px;
}

@media screen and (min-width: 768px) {

    /*Nav */
    nav {
        flex-direction: row;
        justify-content: space-around;
    }

    .navFixa {
        opacity: 30%;
        width: 100%;
        position: fixed;
        background-color: rgba(2, 3, 8, 0.3);

    }

    nav ul li a:hover {
    
        background-color: #0c0c44;
        padding-top: 10px;
        transition: 0.3s linear;
    }
    
    nav ul {
        flex-direction: row;
        width: 70%;

    }

    /* Cabecalho */

    header {
        height: 830px;
        height: 83vh;
        justify-content: center;

    }

    /*Sobre */

    #sobre {
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 300px;
    }

    #sobre p {
        margin-bottom: 50px;
    }

    #sobre h2 {
        margin: 0;
    }

    /*Serviços */

    #servicos {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        height: 400px;
        max-width: 1500px;
        margin: 0 auto;

    }


    #sericos h2 {
        text-align: center;
        width: 100%;

    }

    #servicos div {
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;

    }

    #fotos {
        flex-direction: row;
        flex-wrap: wrap;

    }

    #fotos h2 {
        width: 100%;
        text-align: center;

    }

    #fotos img {
        width: 33.33%;
        height: 300px;
    }

    #contato {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 740px;
        margin: 0 auto;

    }

    #contato div {
        margin-left: 75px;
    }



    #contato h2, #contato p {
        width: 100%;

    }
}


